@model WebApplication2.Models.Tb_EntradaSuc

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Tb_EntradaSuc</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Dbl_SaldoEntrada)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dbl_SaldoEntrada)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fec_Ini)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fec_Ini)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fec_Fin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fec_Fin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Int_Sucursal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Int_Sucursal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Int_IdMoneda)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Int_IdMoneda)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bol_Activo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bol_Activo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Lng_IdEntrada }) |
    @Html.ActionLink("Back to List", "Index")
</p>
