@model WebApplication2.Models.Tb_EntradaSuc

@{
    List<SelectListItem> items = (List<SelectListItem>)ViewBag.items;
    ViewBag.title = "Salda Inicial";
}




       <div class="col-sm-6 mt-5">
           <div class="card shadow-lg rounded">
               <div class="card-header bg-dark text-white">
                   <h5>Ingresa Tu Saldo Inicial</h5>
               </div>
               <div class="card-body">
                   @using (Html.BeginForm())
                   {
                       @Html.AntiForgeryToken()
                       @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                       <form>
                           <div class="form-row">


                               <div class="col-sm-6 mb-2">
                                   <label>Saldo Entrada</label>
                                   <div class="col-md-10">
                                       @Html.EditorFor(model => model.Dbl_SaldoEntrada, new { htmlAttributes = new { @class = "form-control" } })
                                       @Html.ValidationMessageFor(model => model.Dbl_SaldoEntrada, "", new { @class = "text-danger" })
                                   </div>
                               </div>

                               <div class="col-sm-6 mb-3">
                                   <label>Moneda</label>

                                   @Html.DropDownList("Datos", items, "selecciona la divisa", new { @type = "number", @class = "form-control", @id = "padre" })

                                   <div class="" style="display: none">
                                       @Html.EditorFor(model => model.Int_IdMoneda, new { htmlAttributes = new { @class = "form-control", @id = "idmoneda", @readonly = true } })
                                       @Html.ValidationMessageFor(model => model.Int_IdMoneda, "", new { @class = "text-danger" })
                                   </div>
                               </div>


                               <div >
                                   <label>Sucursal</label>

                                   <div class="col-md-10">
                                       <input class="form-control" disabled id="NomSucursal" value=@Session["sucursaledelusuario"] />

                                       <div style="display: none">
                                           <input id="IdSucursal" value="@Session["idSucursal"]" />
                                           @Html.EditorFor(model => model.Int_Sucursal, new { htmlAttributes = new { @class = "form-control", @id = "intsucursal" } })
                                           @Html.ValidationMessageFor(model => model.Int_Sucursal, "", new { @class = "text-danger" })
                                       </div>

                                       <div style="display: none">
                                           @Html.EditorFor(Model => Model.Bol_Activo, new { AllowHtmlAttribute = new {@class = "form-control"} })
                                           @Html.ValidationMessageFor(Model => Model.Bol_Activo, "", new { @class= "text-danger"})
                                       </div>

                                   </div>
                               </div>

                               <div class="col-sm-6 mb-3" >
                                   <label>Fecha Entrada</label>
                                   <div class="col-md-10">
                                       @Html.TextBoxFor(model => model.Fec_Ini, new { @Value = @DateTime.Now.ToString("yyyy-MM-dd HH:mm:ss") })
                                       @Html.ValidationMessageFor(model => model.Fec_Ini, "", new { @class = "text-danger" })
                                   </div>
                               </div>

                               <div class="col-sm-6 mb-3" style="display: none">
                                   <label>Fecha Salida</label>
                                   <div class="col-md-10">
                                       @Html.TextBoxFor(model => model.Fec_Fin, new { @Value = @DateTime.Now.ToString("yyyy-MM-dd HH:mm:ss") })
                                       @Html.ValidationMessageFor(model => model.Fec_Fin, "", new { @class = "text-danger" })
                                   </div>
                               </div>

                               <div class="col-sm-6 mt-4">
                                   <button type="submit" class="btn btn-success">Ingresar </button>
                               </div>


                           </div>


                       </form>

                   }

               </div>
           </div>

       </div> 

       <div class="col-sm-6 mt-5">
           <div class="card shadow-lg rounded" >
               <div class="card-header bg-dark text-white">
                   <h5>Saldo actual</h5>
               </div>
               <div class="card-body">
                   @Html.Action("invet")
               </div>
           </div>

       </div>
       
  



<script>

    var moneda = document.getElementById("padre");
    moneda.addEventListener("change", refresh);

    refresh();

    function refresh() {
        var idsucursal = document.getElementById("IdSucursal").value;

        document.getElementById("intsucursal").value = idsucursal;
        

        var idpadremoneda = document.getElementById("padre").value;
        document.getElementById("idmoneda").value = idpadremoneda;

        document.getElementById("Bol_Activo").value="true";

    }

</script>
