@model WebApplication2.Models.Tb_Vales

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Tb_Vales</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Valor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Valor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fec_Cierre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fec_Cierre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Int_IdTurno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Int_IdTurno)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Int_IdSucursal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Int_IdSucursal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Int_IdUsuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Int_IdUsuario)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Lng_IdVale }) |
    @Html.ActionLink("Back to List", "Index")
</p>
