@model WebApplication2.Models.Tb_Sucursal

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Tb_Sucursal</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Int_IdPlaza)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Int_IdPlaza)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Txt_Sucursal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Txt_Sucursal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Txt_Direccion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Txt_Direccion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Lng_IdSucursal }) |
    @Html.ActionLink("Back to List", "Index")
</p>
