@model WebApplication2.Models.Tb_Registros

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Tb_Registros</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Int_IdTipoTran)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Int_IdTipoTran)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Int_IdMoneda)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Int_IdMoneda)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Int_IdMonVenta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Int_IdMonVenta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Dbl_MontoRecibir)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dbl_MontoRecibir)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Dbl_MontoPagar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dbl_MontoPagar)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Dbl_TipoCambio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dbl_TipoCambio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Dbl_TipoCambioven)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dbl_TipoCambioven)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Dbl_TipoCambioEsp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dbl_TipoCambioEsp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bol_Especial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bol_Especial)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Dbl_Entregar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dbl_Entregar)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Dbl_Cambio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dbl_Cambio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Int_IdTpv)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Int_IdTpv)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fec_Fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fec_Fecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bol_multimoneda)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bol_multimoneda)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Lng_IdRegistro }) |
    @Html.ActionLink("Back to List", "Index")
</p>
